.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-form{
    padding: 0px 0.5% 0px 0;

}

.form-group{
  padding-bottom: 1px;
  padding-right: 3.5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  padding-top:5px;
}


.footer .container{
  height:20px;
}

.footer .container .p{
  margin: 0 0 0px;
}